.keyboard {
  display: grid;
  grid-template-rows: 30px repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 4%;

  padding: 0 12px 14px;

  border: 1px solid #F0F0F3;
  border-radius: 12px 12px 0 0;
  background: #F0F0F3;
  overflow: hidden;

  &__rectangle {
    display: grid;
    justify-content: center;
    align-content: end;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    &--outer {
      background: #F0F0F3;
      border: 1px solid #F0F0F3;
      box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
      border-radius: 12px;
    }

    &--inner {
      width: 120px;
      height: 8px;

      background: #EEEEEE;
      box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(174, 174, 192, 0.2);
      border-radius: 12px;
    }
  }
  
  &__btn {
    background: #F0F0F3;
    box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6), 10px 10px 24px rgba(174, 174, 192, 0.2);
    border-radius: 16px;

    font-size: calc( (100vh - 400px)/(1000 - 400) * (40 - 16) + 16px);
    color: #728AB7;
    
    outline: none;
    border: none;
    cursor: pointer;

    transition: .3s;
    
    &:hover {
      background-color: #e3e3e6;
    }

    // Верхний ряд клавиш====================================================================================
    &--clear,
    &--percent {
      color: #898989;
    }

    &--plus-minus {
      background: url(../img/plus-minus.svg) center 60% no-repeat;
      background-size: 35%;
    }

    // Клавиши операций над числами =========================================================================
    &--divide,
    &--multiply,
    &--minus,
    &--plus {
    font-size: calc( (100vh - 400px)/(1000 - 400) * (60 - 24) + 24px);
      color: #745FF2;
    }
    
    &--equal {
      font-size: 6vh;
      color: #F0F0F3;

      background: #2DD3C5;

      &:hover {
        background-color: #27bdb0;
      }
    }

    &--zero {
      grid-column: 1/3;
      padding-left: 18%;
      text-align: left;
    }
  }
}