.wrap {
  position: relative;

  display: grid;
  grid-template-rows: 5% minmax(400px, 768px) 5%;
  grid-template-columns: 7.5% minmax(200px, 415px) 7.5%;
  align-content: center;
  justify-content: center;

  max-height: 100vh;

  background: #F0F0F3;
  background-image: url(../img/dots-rectangle.svg), url(../img/dots-rectangle.svg);
  background-size: 10%, 10%;
  background-repeat: no-repeat;
  background-position: 30% 5%, 80% 80%;
  overflow: hidden;

  
  &__rectanglle {
    @include figure-style;
    @include abs-position(250px, 200px, 35px, 129.7px);

    z-index: 0;
  }

  &__square{
    @include figure-style;
    @include abs-position(150px, 150px, 75%, 57.58px);
    
    z-index: 0;
  }

  &__round {
    @include figure-style;
    border-radius: 50%;

    z-index: 0;

    &--small {
      @include abs-position(200px, 200px, 624.11px, 415.58px);
    }

    &--big {
      @include abs-position(194px, 194px, 56.57px, 90%);  
    }
  }
}
