.page {
  display: grid;
  grid-template-columns: minmax(200px, 1200px);
  grid-template-rows: minmax(400px, 100%);
  align-content: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;

  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  
  overflow: hidden;
  background: #F0F0F3;
}

