.page {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
  grid-template-rows: 1fr minmax(400px, 100%) 1fr;
  align-content: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;

  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  
  overflow: hidden;
  background: #F0F0F3;
}

