// Figures absolute position
@mixin abs-position($width, $height, $left, $top) {
  position: absolute;

  width: $width;
  height: $height;
  left: $left;
  top: $top;
}

// Wrap figures styles
@mixin figure-style {
  background: #F0F0F3;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 12px;
}

// Media
// Extra Small devices
@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
      @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}
