// MEDIA
// XS
$screen-xs-max: 667px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 800px;

// Small tablets (portrait view)
$screen-md-max: 992px;

// Tablets and small desktops
$screen-lg-max: 1200px;

